body{
    background-color: rgb(16, 16, 16);
    margin:0%
}
.header{
    text-transform: uppercase;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.369);
    align-items: center;
    color: greenyellow;
    justify-content: space-between;
    z-index: 100;
    white-space: nowrap;
}
.logo{
    font-size: x-large;
    margin-left: 1%;
   
}
.nav-item-current,.sign-in,.current{
    font-size: med;
    color: greenyellow;
    text-decoration: none;
}
.current{
    text-decoration: underline;
    text-underline-offset: 85%;
    text-decoration-thickness: 20%;
}
.nav :nth-child(1){
    margin-right: 10%;
    margin-left: -25%;
}
.nav :nth-child(2){
    margin-left:20%;
    margin-right: 10%;
}
.sign-in{
    margin-left: 20%;
}
.nav :hover{
    text-underline-offset: 85%;
    letter-spacing: 1.5px;
    font-size: larger;
    display: inline-block;
    text-decoration-thickness: 20%;
    text-decoration-color: brown;
    text-decoration-line:underline;
    transition: all .5s ease-out;
    transition-timing-function: ease-out;
    animation: forwards;
    
}
.nav:hover:past{
    color: blue;
}