
body{
    background-color: rgb(255, 255, 255);
    margin:0%;
    overflow:hidden;
}
.header{
    height: 10vh;
    width:101vw;
    text-transform: uppercase;
    display: flex;
    overflow: hidden;
    background-color: rgb(0, 0, 0);
    align-items: center;
    color: greenyellow;
    justify-content: space-evenly;
    z-index: 100;
    white-space: nowrap;
}

.logo{
    position:sticky;
    font-size: x-large;
    margin-right:25vw;
   
}
.About,.Home,.select{
    font-size: large;
    color: greenyellow;
    text-decoration: none;
}
.Home{
    text-decoration: underline;
    text-underline-offset: 85%;
    text-decoration-thickness: 10%;
}
.nav :nth-child(1){ 
    padding-right: 1vw;
}
.nav :hover,.select :hover{
    text-underline-offset: 85%;
    letter-spacing: .5px;
    font-size: larger;
    display: inline-block;
    position: static;
    text-decoration-color: brown;
    text-decoration-line:underline;
    transition: all .5s ease-out;
    transition-timing-function: ease-out;
    animation: forwards;
    
}

.iframe-container{
    width: 100svw;
    height: 90svh;
}
.select{
    background-color: black;
    border:none;
}
.nav{
    justify-content: space-evenly;
    padding-right:1vw;
    margin-left: 38vw;
    border-spacing: 10vw;
}

.select:hover{
    background-color:rgba(0, 0, 0, 0.894);
}
