
body{
    color:chocolate;
    background-image: url("Compiler-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0%;
    overflow:hidden;
}
.header{
    box-shadow: 2% solid greenyellow;
}
.header{
    box-shadow: 0px 5.5px 10px 1px black;
    width:101vw;
    text-transform: uppercase;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.861);
    align-items: center;
    color: greenyellow;
    justify-content: space-evenly;
    z-index: 100;
    white-space: nowrap;
}

.logo{
    position:relative;
    font-size: x-large;
    margin-right:21vw;
   
}
.not-current,.current,.select{
    font-size: large;
    color: greenyellow;
    text-decoration: none;
}
.current{
    text-decoration: underline;
    text-underline-offset: 85%;
    text-decoration-thickness: 10%;
}
.nav :nth-child(1){ 
    padding-right: 1vw;
}
.nav :hover,.select:not(:active){
    text-underline-offset: 85%;
    letter-spacing: .5px;
    font-size: larger;
    display: inline-block;
    position: static;
    text-decoration-color: brown;
    text-decoration-line:underline;
    transition: all .5s ease-out;
    transition-timing-function: ease-out;
    animation: forwards;
    
}

.iframe-container{
    opacity: 0.97;
    width: 100svw;
    height: 100svh;
}
.select{
    background-color: black;
    border:none;
}
.nav{
    justify-content: space-evenly;
    padding-right:1vw;
    margin-left: 38vw;
    border-spacing: 10vw;
}

.select:visited{
    border:solid black;
    background-color:rgb(0, 0, 0);
}
.main{
    animation: font 2.8s linear forwards alternate;
    overflow-y: scroll;
    color:rgba(139, 0, 0, 0);
    text-align: center;
    height: 100vh;
    float: right;
    box-shadow: -4px 3px 8px 4px black;
    background-color: rgba(0, 0, 0, 0.844);
    animation-delay: 1.70ms;
}
.section_1{
    align-items: center;
    justify-content: space-evenly;
    display: inline;
    width:100%;
    position: relative;
    height: 70%;
}
.text_1,.text_2{
    text-align: center;
    color:gold;
    text-align: left;
}
.text-1{
    font-size: 150%;
    margin-top: 13%;
}
.text_1{
    animation:welcome 1.5s ease-in-out forwards,color-loop 26s linear  infinite; 
    animation-delay: 100ms;
}
.text_2{
    animation:welcome1 1.5s ease-in-out forwards,color-loop 26s linear  infinite; 
    animation-delay: 100ms,;
}
.content{
    border-spacing: 10%;
    display: block;
    overflow:auto;
}
@keyframes welcome{
    0%{
        margin-left:-20%;
    }
    100%{
        margin-left: 1.5%;
    }
}
@keyframes welcome1{
    0%{
        margin-left:-20%;
    }
    100%{
        margin-left: 4.5%;
    }
}
@keyframes font{
    0%{
        width:0%;
        margin-top:-300%;
    }
    50%{
        margin-top: -28.43%;
    }
    100%{
        margin-top: -28.43%;
        width:55.5%;
        
    }
    
}
@keyframes text{
    0%{
        color:rgba(139, 0, 0, 0);
    }
    100%{
        color:darkred;
    }
}
ul{
    text-align: start;
    list-style-type: none;
}
.text{
    animation: text 1.7s ease-in-out forwards alternate;
    animation-delay: 2520ms;
}
.lan-select{
    margin-top:2%;
    text-align: center;
    border-width: .25vw;
    margin-left:2%;
    font-weight: bolder;
    color: black;
    border-style: solid;
    border-color: greenyellow;
    padding:1% 2%;
    border-radius:5vh;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.063);
    width:fit-content;
}
.lan-select:hover{
    animation: lan-hover 250ms ease-out forwards alternate;
}
@keyframes lan-hover{
    0%{
    
    }
    100%{
    border-width: 0.5px;
    border-color:rgb(23, 31, 13);
    margin-bottom: 20px;
    background-color: greenyellow;
    box-shadow: 6px 5px 5px 1.5px black ;
    }
}
@keyframes lan-hover1{
    0%{
    
    }
    100%{
    border-width: 0.5px;
    border-color:rgb(23, 31, 13);
    background-color: black;
    box-shadow: 0px 0px 2px 5px greenyellow
    }
}
@keyframes color-loop{
    0%{
        color:gold;
    }
    8.333%{
        color: orange;
    }
    16.666%{
        color: red;
    }
    25%{
        color: pink;
    }
    33.333%{
        color: blue;
    }
    41.666%{
        color: indigo;
    }
    58.333%{
        color: violet;
    }
    66.666%{
        color: teal;
    }
    75%{
        color: limegreen;
    }
    83.333%{
        color: green;
    }
    91.666%{
        color: yellow;
    }
    100%{
       color: rgb(255, 165, 80);
    }
}