
body{
    color:chocolate;
    background-image: url("Compiler-background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    margin:0%;
    overflow:hidden;
}
p{
    font-style: italic;
    text-align: center;
    font-size: larger;
}
.header{
    box-shadow: 2% solid greenyellow;
}
.header{
    box-shadow: 0px 5.5px 10px 1px black;
    width:100vw;
    text-transform: uppercase;
    display: flex;
    overflow: hidden;
    background-color: rgba(0, 0, 0, 0.861);
    align-items: center;
    color: greenyellow;
    justify-content: space-evenly;
    z-index: 1;
    white-space: nowrap;
    height: 9vh;
}

.logo{
    float: left;
    position:relative;
    font-size: x-large;
    margin-right:17vw;
   
}
.not-current,.current,.select{
    font-size: large;
    color: greenyellow;
    text-decoration: none;
}
.current{
    text-decoration: underline;
    text-underline-offset: 85%;
    text-decoration-thickness: 10%;
}
.nav :nth-child(1){ 
    padding-right: 1vw;
}
.nav :hover,.select:not(:active){
    text-underline-offset: 85%;
    letter-spacing: .5px;
    font-size: larger;
    display: inline-block;
    position: static;
    text-decoration-color: brown;
    text-decoration-line:underline;
    transition: all .5s ease-out;
    transition-timing-function: ease-out;
    animation: forwards;
    
}

.iframe-container{
    opacity: 0.97;
    width: 100svw;
    height: 100svh;
}
.select {
    background-color: rgba(0, 0, 0, 0);   
}
option{
    background-color: black;
    border:black;
    box-shadow: 4px 4px 6px 4px rgb(185, 43, 43);
}
.nav{
    justify-content: space-evenly;
    margin-left: 38vw;
    border-spacing: 10vw;
}

.select:visited{
    border:solid black;
    background-color:rgb(0, 0, 0);
}
.main{
    margin-top:-200vh;
    animation: font 2.8s linear forwards alternate;
    overflow-y: scroll;
    color:rgba(139, 0, 0, 0);
    text-align: center;
    height: 100vb;
    float: right;
    box-shadow: -4px 3px 8px 4px black;
    background-color: rgba(0, 0, 0, 0.844);
    animation-delay: 6s;
}
.section_1{
    align-items: center;
    justify-content: space-evenly;
    display: inline;
    width:100%;
    position: relative;
    height: 70%;
}
.text_1,.text_2{
    text-align: center;
    color:gold;
    text-align: left;
}
.text-1{
    font-size: 1.5vw;
}
.text_1{
    white-space:nowrap;
    overflow: hidden;
    margin-top:30vh;
    font-style: italic;
    text-shadow: 0px 0px 3px 5px black;
    animation:welcome-home 8s steps(800) forwards,color-loop-welcome-home 26s linear  infinite; 
    animation-delay: 0ms;
}
.text_2{
    width: 0%;
    white-space:nowrap;
    overflow: hidden;
    font-style: italic;
    text-shadow: 0px 0px 3px 5px black;
    animation:welcome1-home 6s  steps(800) forwards,color-loop-welcome-home 26s linear  infinite; 
    animation-delay: 3.7s,0ms;
}
.text_3{
    font-style: italic;
    animation:welcome2-home 1.5s ease-in-out forwards,color-loop-welcome-home 24s linear  infinite; 
    animation-delay: 100ms,;
}
.content{
    border-spacing: 10%;
    display: block;
}
@keyframes welcome-home{
    0% {
        width:2.6%;
        margin-left:-20%;
    }
    35%{ 
        width:2.6%;
        margin-left:1.5%;
    }
    100% {
        width:100%;
        margin-left:1.5%;
    }
}
@keyframes welcome1-home{
    0% {
        width:0%;
        margin-left:4.5%;
    }
    1%{
        width:2.2%;
        margin-left:4.5%
        
    }
    100% {
        width:100%;
        margin-left:4.5%;
    }
}
@keyframes welcome2-home{
    0%{

        margin-left:-20%;
    }
    100%{
        margin-left: 7.5%;
    }
}
@keyframes font{
    0%{
        width:0%;
        margin-top:-200vh;
    }
    50%{
        margin-top: -53.7vh;
    }
    60%{
        margin-top: -53.7vh;
    }
    100%{
        margin-top: -53.7vh;
        width:55.5%;
        
    }
    
}
/*@media screen and  (width  500px){
    .main{
        animation: font-mobile 2.8s linear forwards alternate;
        overflow-y: scroll;
        color:rgba(139, 0, 0, 0);
        text-align: center;
        height: 100vb;
        float: right;
        box-shadow: -4px 3px 8px 4px black;
        background-color: rgba(18, 210, 79, 0.844);
        animation-delay: 1.70ms;
    }
    @keyframes font-mobile{
        0%{
            width:0%;
            margin-top:-200vh;
        }
        50%{
            margin-top: -10vh;
        }
        100%{
            margin-top: 10vh;
            width:55.5%;
            
        }
    }
}*/
@keyframes text{
    0%{
        color:rgba(139, 0, 0, 0);
    }
    100%{
        color:rgb(255, 60, 0);
    }
}
ul{
    text-align: start;
    list-style-type: none;
}
.text{
    margin-top:10vh;
    margin-bottom: 10vh;
    animation: text 1.7s linear forwards;
    animation-delay: 9s;
}
.lan-select{
    margin-top:2%;
    text-align: center;
    border-width: .25vw;
    margin-left:2%;
    font-weight: bolder;
    color: greenyellow;
    animation: color-loop-button 40s linear infinite;
    border-style: solid;
    border-color: greenyellow;
    padding:1% 2%;
    border-radius:5vh;
    font-size: large;
    background-color: rgba(0, 0, 0, 0.063);
    width:fit-content;
}
.lan-select:hover{
    animation: lan-hover 250ms ease-out forwards alternate, color-loop-button 30s linear infinite;
    animation-delay: 0ms;
    transition: box-shadow 0.s linear ;
}
@keyframes lan-hover{
    0%{
    }
    100%{
    border-width: 0.5px;
    border-width: 3px;
    margin-bottom: 20px;
    background-color: black;
    box-shadow: 0px 4px 4px black, 0 0 0 white, 0px 4px 4px black;
    }
}

@keyframes color-loop-welcome-home{
    0%{
        color:greenyellow;
    }
    4.1666%{
        color:gold;
    }
    8.333%{
        color: orange;
    }
    16.666%{
        color: red;
    }
    25%{
        color: pink;
    }
    33.333%{
        color: blue;
    }
    41.666%{
        color: indigo;
    }
    58.333%{
        color: violet;
    }
    66.666%{
        color: teal;
    }
    75%{
        color: limegreen;
    }
    83.333%{
        color: green;
    }
    91.666%{
        color: yellow;
    }
    100%{
       color: rgb(255, 165, 80);
    }
}
@keyframes color-loop-button{
    0%{
        border-color: greenyellow;
    }
    4.1666%{
        border-color:gold;
    }
    8.333%{
        border-color: orange;
    }
    16.666%{
        border-color: red;
    }
    25%{
        border-color: pink;
    }
    33.333%{
        border-color: blue;
    }
    41.666%{
        border-color: indigo;
    }
    58.333%{
        border-color: violet;
    }
    66.666%{
        border-color: teal;
    }
    75%{
        border-color: limegreen;
    }
    83.333%{
        border-color: greenyellow;
    }
    91.666%{
        border-color: yellow;
    }
    100%{
        border-color: rgb(255, 165, 80);
    }
}
@keyframes button-appear{
    40%{
        opacity:0.1;
    }
    100%{
        opacity: 1;
    }
}
.language-field{
    opacity: 0;
    animation: button-appear 8s linear forwards ;
}
.head{
    animation: text-head 1.7s linear forwards;
    animation-delay: 9s;
}
.sub-head{
    animation: text-sub 1.7s linear forwards;
    animation-delay: 9s;
}
@keyframes text-head{
    0%{
        color:rgba(139, 0, 0, 0);
    }
    100%{
        color:rgb(255, 140, 0);
    }
}
@keyframes text-sub{
    0%{
        color:rgba(139, 0, 0, 0);
    }
    100%{
        color:rgb(255, 98, 0);
    }
}